body {
    margin: 0;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
}

#game-container {
    width: 100vw;
    height: 100vh;
    background-color: #e8a3ab; /* Light Blue */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@keyframes floatHeart {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

#score {
    margin-top: 20px;
    font-size: 24px;
}

#timer {
    margin-top: 10px;
    font-size: 18px;
}
